<!-- NAVBAR -->
<header>
  <app-navbar></app-navbar>
</header>

<!-- SECTION WELCOME -->
<section class="sectionWelcome parallax">
  <div class="overlay"></div>
  <div class="container">
   <!-- <h1 style="color: white">CLAUDIO VIGHETTO</h1>-->
  </div>
</section>

<!-- SECTION PICTURES -->
<section class="sectionMyPictures" id="sectionMyPictures">
  <h1 class="mb-5">My pictures</h1>
  <div class="container">

    <!-- row 1 -->
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-sm-6 col-lg-4" *ngFor="let picture of arrayPictures">
        <div class="card mb-5">
          <img [src]="picture.imagen" class="card-img-top" alt="...">
          <div class="info">
            <h1>{{picture.info}}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION CONTACT -->
<section class="sectionContact" id="sectionContact">
<div>
  <img src="../assets/img/charla.svg">
</div>
  <div class="col mt-5">
    <h6>info.cvighetto@gmail.com </h6>
    <h6>taosmanagement@gmail.com</h6>
  </div>
  <div class="row mt-5 align-content-center">
    <div class="col img-fluid p-3">
      <a href="https://www.instagram.com/c.vighetto/">
      <img src="../assets/img/instagram.png" alt="Responsive image">
      </a>
    </div>
    <div class="col img-fluid p-3">
      <a href="https://www.youtube.com/channel/UCIuSFg8xW0ho-_Vdsc3h0lw">
      <img src="../assets/img/youtube.png" alt="Responsive image">
      </a>
    </div>
  </div>
</section>
